<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>게시글 내용</title>

<th:block th:include="common/header/commonHead"></th:block>
<th:block th:include="common/header/boardHead"></th:block>

</head>
<body>
	<div th:each = "i : ${boardRead}">
		<input id="board_id" type="hidden" th:value="${i.boardId}">
		<div class="boardReadTitle">
		<div class="boardReadTitleText">
			<div th:text="${i.boardTitle}" id="board_title"></div>
		</div>
				<div class="boardReadTitleSub">
					<div th:text = "${i.boardWriter}" ></div>
					<div th:text = "${i.board_reg_date}"></div>
				</div>
		</div>	
		<div class="boardReadContent"> 
			<div th:text="${i.boardContent}" id="board_content"></div>
		</div>
	
	<div id="readBtnGroup">
		<button type="button" onclick="location.href='/board/boardList'" > 목록으로 </button>
		<span th:if="${session.user_nickname == i.boardWriter}">
			<button id="editBtn"> 수정 </button>
			<button id="deleteBtn"> 삭제 </button>
		</span>
	</div>
	</div>
</body>
</html>